#root {
  max-width: 1500px;
  height: 90vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.window {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.95;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

.icon {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-shadow: 1px 1px 1px gray;
  margin-bottom: 15px;
}

.icon:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.app-icons {
  width:50px;
  text-align: center;
}

.bar {
  font-family: Arial;
  font-size: 14px;
  color: black;
  background-color: rgb(248, 248, 248);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 5px;
  display: flex;
  height: 26px;
  position: sticky;
  top: 0;
  cursor:grab
}

.close-button {
  border-radius: 50%;
  border: none;
  background-color: red;
  height: 12px;
  width: 12px;
  margin-top: 7px;
  margin-left: 3px;
}

.close-button:hover {
  background-color: rgb(184, 4, 4);
}

/* ---------------- */
/* TERMINAL WINDOW  */
/* ---------------- */
#terminal-window {
  background-color: black;
  font-family: "Courier Prime", monospace;
  font-size: 14px;
  min-width: 830px;
  width: 55%;
  height: 470px;
  border-radius: 9px;
  margin-left: 50%;
  margin-top: 0px;
}

#terminal-contents {
  color: rgb(165, 240, 53);
  padding: 18px;
  height: 408px;
  overflow-y: scroll;
}

#terminal-contents::-webkit-scrollbar {
  width: 0;
  background: none;
}

/* ---------------- */
/* PROJECTS WINDOW  */
/* ---------------- */
#projects-window {
  z-index: 1000;
  width: 800px;
  height: 780px;
  overflow-y: auto;
  background-color: rgb(241, 239, 220);
  border-radius: 8px;
  margin-left: 67%;
  margin-top: 200px;
}

.project-card:hover {
  transform: scale(1.01);
  transition-duration: 1s;
}

#project-contents {
  padding: 20px;
}

/* ------------ */
/* FILM WINDOW  */
/* ------------ */
#film-window {
  background-color: #dff3ff;
  font-size: 16px;
  width: 45%;
  width: 550px;
  height: 320px;
  border-radius: 9px;
  margin-left: 19%;
  margin-top: 310px;
}

#film-contents {
  line-height: 0.75;
  display: block;
  padding-left: 20px;
  height: 180px;
}

h4{
  margin-bottom: 0px;
}

.role-text {
  color:rgb(54, 54, 54)
}

/* --------------- */
/* CONTACT WINDOW  */
/* --------------- */
#contact-window {
  background-color: #fcd8bd;
  font-size: 16px;
  width: 45%;
  width: 250px;
  height: 400px;
  border-radius: 9px;
  margin-left: 21%;
  margin-top: 100px;
}

#contact-contents {
  line-height: 0.75;
  display: block;
  padding: 20px;
  height: 280px;
}

#selfie {
  border-radius: 5px;
  width: 80%;
  height: 85%;
  margin: 0px 30px 0px 0px;
}

#media-icons {
  text-align: center;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 425px) {
  #desktop {
    display: none;
  }

  #phone {
    display: block
  }

  #media-icons {
    text-align: center;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width:426px){
  #desktop {
    display: block;
  }

  #phone {
    display: none;
  }
}